<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ACG Music Gallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/styles/main.css">
</head>
  <body>
    <div class="header container-fluid">
        <div class="container">
            <div class="row">
                <div id="acg-logo" class="col-md-4 offset-md-4">
                    <a href="/albums">
                    <img src="/images/ACG-logo.png" class="img-fluid" alt="A Cloud Guru Music Gallery"></a></br>
                        <h2>Music Gallery</h2>
                </div>
                <div id="addAlbum" class="col-md-4">
                    <a href="/albums/add">
                        <img src="/images/add-icon.png" alt="Add an Album">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container"> {% block content %}{% endblock %} </div>
{{user}}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
